# ClickHouse настройки
CLICKHOUSE_DB=mydatabase
CLICKHOUSE_USER=myuser
CLICKHOUSE_PASSWORD=mypassword
CLICKHOUSE_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000

# Flask настройки
FLASK_PORT=5000
FLASK_ENV=development
FLASK_DEBUG=1

# Дополнительные настройки (опционально)
CLICKHOUSE_HOST=clickhouse

#Веб-хук Б24
PAGE_LINK="https://bx.itex.ru/rest/16/[api-key]/voximplant.statistic.get?start="